.asterisk {
  list-style-type: "*  ";
}

.break {
  flex-basis: 100%;
  height: 0;
}

.backgroundBlue {
  background-color: #233142;
  width: 100vw;
  overflow-x: auto;
}

.textWhite {
  color: #e3e3e3;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  padding-bottom: 7rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.linkUnderline {
  background-image: linear-gradient(0, #D72323, #D72323);
  background-repeat: no-repeat;
  background-size: 120% 0.15em;
  background-position: 0 98%;
}