.imgCropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.imgWrapper {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}